@model IEnumerable<PhotoSharingApplication.Models.Photo>

@foreach (var item in Model)
{
    <h3>"@item.Title"</h3>
    
    if (item.PhotoFile != null)
    {
        <img width="200" src="@Url.Action("GetImage", "Photo", new { id = item.PhotoID })" />
    }
    
    <p>
        Created By:
        @Html.DisplayFor(model => item.UserName)
    </p>
    
    <p>
        Created On:
        @Html.DisplayFor(model => item.CreatedDate)
    </p>
    
    @Html.ActionLink("Display", "Display", new { id = item.PhotoID })
}