@model IEnumerable<PhotoSharingApplication.Models.Photo>

@foreach (var item in Model) {

<div class="photo-index-card">

    <h3>
        "@Html.DisplayFor(modelItem => item.Title)"
    </h3>
        
    @if (item.PhotoFile != null) {
        <div class="photo-display">
            <img class="photo-display-img" src="@Url.Action("GetImage", "Photo", new { PhotoId = item.PhotoID })" />
        </div>
    }

    <div class="photo-metadata">
        <div>
            <span class="display-label">
                Created By:
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.UserName)
            </span>
        </div>

        <div>
            <span class="display-label">
                    @Html.DisplayNameFor(model => model.CreatedDate):
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.CreatedDate)
            </span>
        </div>

        <div>
            <span class="display-label">
                    @Html.DisplayNameFor(model => model.ModifiedDate):
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.ModifiedDate)
            </span>
        </div>
    </div>

    @Html.ActionLink("Details", "Details", new { id=item.PhotoID }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.PhotoID })
</div>
}
