@model OperasWebSite.Models.Opera

@{
    ViewBag.Title = "Opera: " + Model.Title;
}

    
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
   
    <div> 
        <span class="display-label">
                @Html.DisplayNameFor(model => model.Year):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Year)
        </span>
    </div>

    <div>
        <span class="display-label">
                @Html.DisplayNameFor(model => model.Composer):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Composer)
        </span>
    </div>

    @Html.Action("_ReviewsForOpera", "Review", new { OperaId = Model.OperaID })

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

