@model PhotoSharingApplication.Models.LocalPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@using (Html.BeginForm("ResetPassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div>
        <span class="editor-label">
            @Html.LabelFor(m => m.OldPassword)
        </span>
        <span class="editor-field">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "text-box" })
        </span>
    </div>

        <div>
        <span class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </span>
        <span class="editor-field">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "text-box" })
        </span>
    </div>

    <div>
        <span class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </span>
        <span class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box" })
        </span>
    </div>

    <input type="submit" value="Change Password" />
}
